/** Slider **/

@font-face {
    font-family: "Dreamland";
    src: url('fonts/Dreamland.otf');
}

#slider {
    position: relative;
    margin: auto;
    width: 100%;
}

#slide-img {
    width: 100%;
    height: 1057px;
}

#previous, #next ,#play, #pause{
    cursor: pointer;
    transition: opacity 0.3s ease;
    opacity: 0;
    position: absolute;

    font-size: 100px;
    color: rgba(220, 220, 220, 0.8);
    padding: 10px;
}


#previous {
    left: 0;
    top: 50%;
}

#play, #pause{
    bottom: 0;
    right: 46%;
}

#play {
    display: none;
}

#next {
    right: 0;
    top: 50%;
}

#slider:hover #previous, #slider:hover #next, #slider:hover #play, #slider:hover #pause {
    opacity: 1;
}


.intro-slide-1 {
    position: absolute;
    top: 35%;
    background-color: silver;
}

.intro-slide-1 > h2 {
    font-size: 5em;
    font-weight: bold;
    font-family: 'Dreamland';
    color: darkolivegreen;
    line-height: 200px;
    opacity: 1;
}

/** Map **/
#map{
    height: 500px;
}

#info_reserv{
    display: block;
}
#container_pre_reserv{
    display: none;
}

#reservation_form{
    display: none;
}

#disable-reservation-warning{
    display: none;
}
/** Footer **/

.img-footer {
    position: relative;
    width: 100%;
    height: 200px;
}

.footer-container {
    position: absolute;
    margin-top: 20px;
}
